<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvancedProjectManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3850C24C1F7C3F18001C93D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3850C2631F7C3F18001C93D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3850C26E1F7C3F18001C93D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
